.container {
  display: flex;
}

.dashboard {
  padding: 24px;
  width: 100%;
}

.cardsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin-bottom: 32px;
}

@media (max-width: 1280px) {
  .cardsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .dashboard {
    padding: 16px 0px 16px 0px;
  }
  .cardsGrid {
    grid-template-columns: 1fr;
  }
}
