.container {
  display: flex;
}

.dashboard {
  padding: 24px;
  width: 100%;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  margin-bottom: 32px;
}
