.tabs {
  list-style: none;
  padding: 0 0 0.5rem;
  display: flex;
  border-bottom: thin solid var(--neutral-gray-300);

  a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 14px;
    color: var(--neutral-gray-900);

    &[aria-current="page"] {
      border-bottom: 2px solid var(--success);
      font-weight: 700;
    }
  }
}
