.button {
  flex: 1;
  padding: 12px;
  border-radius: 40px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-caption);
  cursor: pointer;
  text-align: center;
  transition: opacity 0.2s;
  border: 1px solid transparent;
}

.button:hover:not(:disabled) {
  opacity: 0.8;
}

.reject {
  background-color: transparent;
  color: var(--error);
  border-color: var(--color-status-error);
}

.cancel {
  background-color: transparent;
  color: var(--custom2-main);
  border-color: var(--success);
}

.accept {
  background-color: var(--success);
  color: var(--success-text-contrast);
  border: none;
}

.disabled {
  background-color: var(--neutral-gray-100);
  color: var(--neutral-gray-600);
  cursor: not-allowed;
  border-color: var(--neutral-gray-200);
}
