.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--neutral-gray-50);
  border: 1px solid var(--neutral-gray-300);
  border-radius: 1.5rem;
  padding: 32px;
  width: 650px;
  max-width: 90%;
  box-shadow: 0 0px 1rem rgba(0, 0, 0, 0.07);
}

.title {
  font-size: var(--font-h5);
  font-weight: var(--font-weight-bold);
  color: var(--neutral-gray-800);
  margin-bottom: 1rem;
}

.description {
  font-size: var(--body1);
  color: var(--neutral-gray-800);
  margin-bottom: 1rem;
}

.productInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 32px;
}

.productImage {
  width: 48px;
  height: 48px;
  border-radius: 0.25rem;
  object-fit: cover;
}

.productDetails {
  display: flex;
  flex-direction: column;
}

.productName {
  font-size: var(--body2);
  font-weight: var(--font-weight-bold);
  color: var(--neutral-gray-800);
}

.productSku {
  font-size: var(--font-caption);
  font-weight: var(--font-weight-regular);
  color: var(--neutral-gray-600);
}

.divider {
  border: none;
  border-top: 1px solid var(--neutral-gray-200);
  margin-bottom: 32px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions > button {
  flex: 0 1 auto;
  min-width: 120px;
}
