.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 24px 18px;
  font-weight: var(--font-weight-bold);
  color: var(--custom2-main);
}

.img {
  height: 2rem;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--neutral-gray-100);
  }
}
