.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 24px 18px;
  font-weight: 700;
}

.img {
  height: 2rem;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
}
