.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.25s ease-in-out, min-width 0.25s ease-in-out;
  padding-right: 1rem;
  min-width: 238px;

  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  ul {
    list-style: none;
    padding: 0;
  }
}

.inactive,
.active {
  margin-bottom: 0.5rem;
  display: flex;
  font-size: var(--font-caption);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  gap: 0.5rem;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

.inactive svg,
.active svg {
  width: 1rem;
  height: 1rem;
  transition: transform 0.25s ease-in-out;
}

.inactive {
  background-color: var(--neutral-gray-50);
  color: var(--primary-text-contrast);
  font-weight: var(--font-weight-medium);
}

.active {
  background-color: var(--custom2-main);
  color: var(--error-text-contrast);
  font-weight: var(--font-weight-bold);
}

.sidebar button {
  appearance: none;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  border-top: thin solid var(--neutral-gray-300);
  color: var(--custom2-main);
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 1.25rem;
}

.sidebar button svg {
  height: 1rem;
  transition: transform 0.25s ease-in-out;
}

.collapse {
  cursor: pointer;
}

.sidebar.collapsed {
  min-width: 64px;
  align-items: center;
  transition: width 0.25s ease-in-out, min-width 0.25s ease-in-out;
}

.sidebar.collapsed span {
  display: none;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.sidebar.collapsed button {
  justify-content: center;
  transition: justify-content 0.25s ease-in-out;
}

.sidebar.collapsed button svg {
  transform: rotate(180deg);
  transition: transform 0.25s ease-in-out;
}
.sidebar.collapsed button span {
  display: none;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

@media (max-width: 101.5rem) {
  .sidebar button {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    padding-right: 0.2rem;
  }
}
