.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: calc(100vh - 200px);
  padding-top: 24px;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--font-subtitle1);
  font-weight: var(--font-weight-bold);
  color: var(--custom2-main);
}

.description {
  font-size: var(--body1);
  font-weight: var(--font-weight-regular);
  color: var(--custom2-main);
}
