html,
body {
  height: 100vh;
  font-family: "Red Hat Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  color: var(--custom2-main);
}
#root {
  height: 100%;
  margin: 0;
  padding: 1rem;
  background-color: var(--neutral-gray-100);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--primary-text-contrast);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 400px) {
  #root {
    padding: 0.2rem;
  }
}

img {
  max-width: 100%;
}
